@keyframes duckHandRight {
  0% {
    transform: rotate(0);
  }
  30% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(150deg);
  }
}

@keyframes duckHandLeft {
  0% {
    transform: rotate(-150deg);
  }
  30% {
    transform: rotate(-150deg);
  }
  70% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.hand {
  animation: 2s ease 0s infinite alternate duckHandRight;
}

.hand.left {
  animation-name: duckHandLeft;
}
.boardText {
  font: 75px sans-serif;
}
